<head>
  <meta charset="utf-8">
  <title>{% page_title %}</title>
  {% meta_refresh %}
  <meta name="viewport" content="initial-scale=1">
  <meta name="author" content="Benjamin Danon">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{% page_keywords %}">
  <link rel="author" href="/humans.txt">
  <link rel="shortcut icon" type="image/png" href="{% asset_path favicon-ficusnode.png %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% asset_path touch-icon-144x144.png %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% asset_path touch-icon-114x114.png %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% asset_path touch-icon-72x72.png %}">
  <link rel="apple-touch-icon" sizes="57x57" href="{% asset_path touch-icon-57x57.png %}">
  <link rel="apple-touch-icon" href="{% asset_path touch-icon.png %}">
  {% css style %}
</head>
