//= require _fonts
//= require normalize
/*! Benjamin Danon (sphax3d) 2016-03-01 */
/*! background from http://subtlepatterns.com/?p=922 */

body {
  color: #333;
  background: url(asset_path("pattern-groovepaper.png")) #fcfcfc;
  line-height: 1.5em;
  margin: 1.5em auto;
  max-width: 60em;
}

.container {
  margin-left: 2em;
  margin-right: 2em;
  padding-left: 6em;
}

::selection {color: #fff; background: #3a3;}
::-moz-selection {color: #fff; background: #3a3;}
img::selection {background: transparent;}
img::-moz-selection {background: transparent;}

a {
  text-decoration: none;
}

a:link {
	color: #3a3;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	-o-hyphens: none;
	hyphens: none;
}

a:visited {
  color: #338233;
}

a:hover,
a:focus {
  background: #3a3;
  border-radius: .2em;
  color: #fff;
  margin: -.2em;
  padding: .2em;
}

a:visited:hover,
a:visited:focus {
  background: #338233;
}

a:active {
  background: #335a33;
}

a:visited:active {
  background: #335a33;
}

a:hover::selection {
  color: #3a3;
  background: #fff;
}

a:hover::-moz-selection {
  color: #3a3;
  background: #fff;
}

p {
  margin: 0 0 1.5em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

ins {
  font-weight: bold;
  text-decoration: none;
}

.site-title {
  font-size: 4em;
  display: inline-block;
  *display: inline; /* IE inline-block */
  line-height: 1.125em;
  margin: 0 0 .375em;
  position: relative;
  vertical-align: top;
  zoom: 1; /* IE inline-block */
}

a.site-title:link, a.site-title:visited {
  color: #333;
}

a.site-title:hover {
  text-shadow: 0 0 2px #fff, 0 0 3px rgba(51, 51, 51, .5);
}

a.site-title:active, a.site-title:visited:active {
  color: #555;
}

.site-title img {
  height: 64px;
  left: -96px;
  position: absolute;
  top: 4px;
  vertical-align: inherit;
  width: 64px;
}

.site-title h1 {
  display: inline;
  font-weight: 400;
  font-size: 1em;
}

.tagline {
  font-size: 1.5em;
  font-style: italic;
  font-weight: 400;
  line-height: 1em;
  margin: 0 0 1em;
  position: relative;
  top: -.5em;
}

h2 {
  line-height: 1em;
  position: relative;
  top: .5em;
}

/*! konami code for nerdz */

.konami {
  background: url(asset_path("nyancat-background.png")) #0f4d8f;
  color: #fff;
}

.konami ::selection {background: #ff99ff;}
.konami ::-moz-selection {background: #ff99ff;}
.konami img::selection {background: transparent;}
.konami img::-moz-selection {background: transparent;}

.konami a:link, .konami a:visited {
  color: #fff;
}

.konami a:hover, .konami a:active, .konami a:visited:active {
  background: #ff99ff;
}

.konami .site-title:before {
  background: url(asset_path("rainbow-380x45.png")) repeat-x;
  content: " ";
  display: block;
  height: 60px;
  left: -850px;
  position: absolute;
  top: 15px;
  width: 760px;
}

.konami p,
.konami .site-title,
.konami h2 {
  background: #0f4d8f;
}

.konami .site-title:after {
  background: url(asset_path("nyancat-100x70.gif")) no-repeat;
  content: " ";
  display: block;
  height: 70px;
  left: -118px;
  position: absolute;
  top: 4px;
  width: 100px;
}

.konami .site-title img {
  display: none;
}

/*! responsive */

@media only screen and (max-width: 600px) {
  .container {
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 0;
  }
  p {
    margin: 0 0 .875em;
  }
  .site-title {
    font-size: 3em;
    line-height: 1em;
    margin: 0 0 .75em;
  }
  .site-title img {
    height: 48px;
    left: 0;
    margin-right: .25em;
    position: relative;
    top: 0;
    width: 48px;
  }
  .tagline {
    font-size: 1.375em;
    line-height: 1.1em;
    margin: 0 0 .8em;
    top: -.4em;
  }
  h2 {
    margin: .75em 0;
    top: .375em;
  }
}
@media only screen and (max-width: 480px) {
  body {
    margin: .75em auto;
  }
  p {
    margin: 0 0 .75em;
  }
  .site-title {
    font-size: 2em;
    line-height: 1.5em;
    margin: 0 0 .375em;
  }
  .site-title img {
    height: 32px;
    top: 8px;
    width: 32px;
  }
  .tagline {
  	font-size: 1.25em;
  	line-height: 1.2em;
  	margin: 0 0 .6em;
  	top: -.3em;
  }
  h2 {
    margin: .5em 0;
    top: .25em;
  }
}

[class^="favicon-"]:before, [class*=" favicon-"]:before {
  background-repeat: no-repeat;
  border-radius: 2px;
  bottom: 1px;
  content: "";
  display: inline-block;
  height: 16px;
  margin-right: 4px;
  position: relative;
  vertical-align: middle;
  width: 16px;
}

@each $favicon in beangels, expertinbox, agora, lacofabrique, applicook, ateliermasala, barreoblique, ficusnode, lelieucommun {
  .favicon-#{$favicon}:before {
    background-image: inline-image("favicon-#{$favicon}.png");
  }
}
